<html>
 <!-- Uses HighCharts api to graph lomb method 
 		More documentation can be found http://www.highcharts.com/ 
 	 	All HighCharts code is found in this view, pulls data from the controller 
 	 	using calls to the controller (<%= @variable %>). The lomb method is calculated 
 	 	in the controller -->
<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "session_graph"
      }, 
      title: {
        text: "Percentage Resonance" 
      },
      xAxis: {
      	categories: <%= @time %>,
      	minTickInterval: 10,
      	//min: <%= @yAxis_start %>,
        //startOnTick: false,
      	// Step specifies the how many nth labels to show. Currently showing every second label. 
      	// Stagger specifies the number of lines to spread the labels over.
      	labels: {
      		step: 2,
      		staggerLines: 1
      	},
        title: {
          text: "Time"
        }
      },
      yAxis: {
        // y-axis grid line colour
        gridLineColor: '#E6E6E6',
        title: {
          text: "Percentage low frequency power"
        },
        // Line indicating the resonance threshold. Values can be changed in the controller
        plotLines: [{
        	color: '#B2B2B2',
        	width: <%= @resonance_line_width %>,
        	value: <%= @resonance_baseline %>,
        	dashStyle: 'shortdot'
        }]
      },
      // Pop up shown on a data point. This can be customised to say any message from the return line. 
      // To disable, change enabled to false. 
      tooltip: {
    	enabled: true,
        formatter: function() {
          return '<b>Session Time: ' + this.x + '</b><br>Score: ' + this.y;
        }
      },
      // Enables data points to be tracked without having to hover over data point.
      // Legend can be enabled by changing showInLegend to true. 
      plotOptions: {
    	line: {
          enableMouseTracking: true,
          showInLegend: false
        }
      },
      // Highcharts credits
      credits: {
      	enabled: false
      },
      series: [{
     	data: <%= @power %>
      }]
    });
  });
</script>
<h1>Session Heart Rates</h1>
<div id ="session_graph" style="width:1000px; height:400px;"> </div>
<br>
<!-- Table displaying user statistics -->
<h4> Session Statistics </h4> 
<div>
  <table border="1" >
  	<tr> 
	  <th> Min heart rate </th>
	  <th> Max heart rate </th>
	  <th> Range </th>
	  <th> Most common frequency </th>
	  <th> Total time in resonance </th>
	</tr>
	<tr>
	  <td> <%= @min_heart_rate %> bpm </td>
	  <td> <%= @max_heart_rate %> bpm </td>
	  <td> <%= @max_heart_rate - @min_heart_rate %> bpm </td>
	  <td> <%= @most_common_freq %> Hz </td>
	  <td> <%= @total_time_resonance %> s </td>
	</tr>
  </table>
</div>
</html>
