<% provide(:title, 'Sign up') %>
<!DOCTYPE html>
<html>
    <body>
        <h1>Sign up</h1>   
        <div class = "row">
            <div class="span6 offset3">
                <!-- Form for is a helper method that takes in an Active
                Record object and constructs a form using the object's
                attributes. -->
                <%= form_for(@user) do |f| %>

                    <!-- Error message partial -->
                    <!-- shared/ directory is for partials 
                    to be used in views across multiple controllers
                    Error message located in app/views/shared/_error_messages.html.erb
                    -->
                    <%= render 'shared/error_messages' %>
                    <%= f.label :instruction, "* Indicates required field" %>
                    
                    <%= f.label :firstname, "Firstname *" %>
                    <%= f.text_field :firstname %>

                    <%= f.label :lastname, "Lastname *" %>
                    <%= f.text_field :lastname %>

                    <%= f.label :email, "Email *" %>
                    <%= f.text_field :email %>

                    <%= f.label :gender, "Gender *" %>
                    <%= f.radio_button :gender, "female" %> 
                    <%= f.label :gender_female, "Female" %>
                    <%= f.radio_button :gender, "male" %>
                    <%= f.label :gender_male, "Male" %>

                    
                    <%= f.label :year_of_birth, "Year of birth *".html_safe %>
                    <%= f.select :year_of_birth, 1933..2000 %>

                    <%= f.label :city %>
                    <%= f.text_field :city %>

                    <%= f.label :username, "Username *" %>
                    <%= f.text_field :username %>

                    <%= f.label :password, "Password *" %>
                    <%= f.password_field :password %>

                    <%= f.label :password_confirmation, "Password Confirmation *" %>
                    <%= f.password_field :password_confirmation %>

                    <%= f.check_box :terms_and_conditions %>
                    <%= f.label :terms_and_conditions, "I agree to the #{link_to 'Terms and conditions', '#'}. *".html_safe %>

                    <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
                <% end %>
            </div>
        </div>
    </body>
</html>
