<% provide(:title, "Sign in") %>
<!doctype html>
<html>
  <head>
    <script src="../../assets/javascripts/Chart.js"></script>
    <meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
    <style>
      canvas{
        }
    </style>
  </head>
	
  <body>
	<div class ="hero-unit">
	<h1>Relaxation Sessions</h1>
	</div>  
	<br>  
  
	<div>
	<h4> Heart Rate Variability </h2> 
		<canvas id="line" height="400" width="800"></canvas>
		
	</div>

	<script>
		// Define the data for the graph 
		//var xAxis = <%= @xAxis %> ;
		//var yAxis = <%= @yAxis %> ;
		//var xAxis = JSON.parse( "<%= @xAxis.to_json %>" );
		//var yAxis = JSON.parse( "<%= @yAxis.to_json %>" );
		//document.write(xAxis);
		//document.write(yAxis);
		var lineChartData = {
		  // X axis labels 
			labels: <%= @xAxis %>,
			datasets: [
			  {
			  	fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,1)",
				pointColor : "rgba(151,187,205,1)",
				pointStrokeColor : "#fff",
                // Data to display 
            	data : <%= @yAxis %>
		    }
		  ]
		}
// Draws the graph with the data defined by lineChartData into a HTML5 canvas element 
	new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);
	</script>
	
	
  </body>
</html>

