<!-- This file determine the overall layout of the website.
< Including the header and footer>
< The content is dynamic based on each page>
-->
<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
        
    </head>

    <body>
        <!-- The header: refer to _header.html.erb file for details. This is partials -->
        <%= render 'layouts/header' %>
        <div class="container">
            <%= yield %>

            <!-- Flash Erb using content_tag -->
            <!-- Flash is a message that appears on the subsequent
            page and then disappears upon visiting a second page
            or on page reload
            -->
            <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <!-- The footer: refer to _footer.html.erb file for details. This is partials only -->
            <%= render 'layouts/footer' %>

            <!-- YAML representation of params (a hash) that identifies the controller and action for the page.
            if Rails.env.development make sure the debug information is not visible to users of a deployed application, and restricting the debug information to the development environment.
            Development environemnt is one of three environments defined by default in rails: Rails.env.test and Rails.env.production - once deployed to heroku-->
            <%= debug(params) if Rails.env.development? %>
        </div>
    </body>
</html>
