<!-- This file determine the overall layout of the website.
< Including the header and footer>
< The content is dynamic based on each page>
-->
<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
        
    </head>
    <body>
        <!-- The header: refer to _header.html.erb file for details. This is partials -->
        <%= render 'layouts/header' %>
        <div class="container">
            <%= yield %>
            <!-- The footer: refer to _footer.html.erb file for details. This is partials only -->
            <%= render 'layouts/footer' %>
        </div>
    </body>
</html>
